@media (max-width: 1000px) {
    .form-flex-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        text-indent: 0;
    }

    fieldset {
        text-indent: 0;
        width: 80%;
    }
    
    textarea {
        width: 220px;
    } 

    button {
    width: 224px;
    margin-left: 0;
    }      
}

@media (max-width: 790px) {
    nav ul {
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
    }
    
    menu {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        background-color: rgb(255, 255, 255);
    }

    #menu-header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        border: none;
        width: 100%;
        background-color: rgb(143, 143, 143);
        border-top-right-radius: 0px;
        color: white;
        height: 43px;
        text-align: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    
    aside {
        width: 100%;
        padding: 0;
    }
    #items {
        text-align: center;
        border-bottom-right-radius: 0px;
        border: none;
        width: 100%;
        padding: 15px 0 15px 0;
        background-color: #ececec;
    }
    
    #items p {
        padding-bottom: 10px;
        font-weight: 700;
        border-bottom: 1px dashed rgb(143, 143, 143);
    }
    
    #items p a {
        color: black;
    }
    
    #items p a:hover {
        color: #747474;
    }

    section {
        background-color: white;
    }

    .title-flex-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        width: 100%;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    
    #menu-section-header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        border: none;
        width: 100%;
        background-color: rgb(255, 255, 255);
        border-bottom-right-radius: 0px;
        color: black;
        height: 43px;
        text-align: left;
       margin-left: 0;
    }
    
    #menu-section-header-hr {
       display: none;
    
    }
    
    .contacts {
        margin-left: 30px;
        font-size: .8em;
    }
}
